@charset "UTF-8";
@font-face {
  font-family: "icon";
  src: url("../icon/icomoon/fonts/icomoon.eot?t=1612017672612") format("embedded-opentype"), url("../icon/icomoon/fonts/icomoon.woff?t=1612017672612") format("woff"), url("../icon/icomoon/fonts/icomoon.ttf?t=1612017672612") format("truetype"), url("../icon/icomoon/fonts/icomoon.svg?t=1612017672612") format("svg");
}
@font-face {
  font-family: "digital";
  src: url("../icon/digital7/digital7mono.ttf?t=1612017672612") format("truetype");
}
@font-face {
  font-family: "digital2";
  src: url("../icon/digital7/digital7.ttf?t=1612017672612") format("truetype");
}
#digital i:before {
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -ms-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

body {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #5a5a5a;
  font-size: medium;
  text-align: center;
  font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  background-color: white;
}

#app {
  position: relative;
  width: 600px;
  height: 896px;
  background-color: black;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#app > * {
  position: absolute;
}

#clock {
  left: 50%;
  top: 30px;
  width: 540px;
  height: 540px;
  display: inline-block;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#clock > * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  position: absolute;
  display: inline-block;
}
#clock:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: rgba(177, 40, 40, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
#clock b {
  width: 84px;
  height: 84px;
  font-size: 50px;
  color: #a59c75;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#clock b:before {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: Fraunces;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#clock b.n0 {
  top: calc(50% - 220px);
  left: calc(50% + 0px);
}
#clock b.n0:before {
  content: "12";
}
#clock b.n1 {
  top: calc(50% - 190.5255888326px);
  left: calc(50% + 110px);
}
#clock b.n1:before {
  content: "1";
}
#clock b.n2 {
  top: calc(50% - 110px);
  left: calc(50% + 190.5255888326px);
}
#clock b.n2:before {
  content: "2";
}
#clock b.n3 {
  top: calc(50% - 0px);
  left: calc(50% + 220px);
}
#clock b.n3:before {
  content: "3";
}
#clock b.n4 {
  top: calc(50% - -110px);
  left: calc(50% + 190.5255888326px);
}
#clock b.n4:before {
  content: "4";
}
#clock b.n5 {
  top: calc(50% - -190.5255888326px);
  left: calc(50% + 110px);
}
#clock b.n5:before {
  content: "5";
}
#clock b.n6 {
  top: calc(50% - -220px);
  left: calc(50% + 0px);
}
#clock b.n6:before {
  content: "6";
}
#clock b.n7 {
  top: calc(50% - -190.5255888326px);
  left: calc(50% + -110px);
}
#clock b.n7:before {
  content: "7";
}
#clock b.n8 {
  top: calc(50% - -110px);
  left: calc(50% + -190.5255888326px);
}
#clock b.n8:before {
  content: "8";
}
#clock b.n9 {
  top: calc(50% - 0px);
  left: calc(50% + -220px);
}
#clock b.n9:before {
  content: "9";
}
#clock b.n10 {
  top: calc(50% - 110px);
  left: calc(50% + -190.5255888326px);
}
#clock b.n10:before {
  content: "10";
}
#clock b.n11 {
  top: calc(50% - 190.5255888326px);
  left: calc(50% + -110px);
}
#clock b.n11:before {
  content: "11";
}
#clock i {
  background-color: #ccb56f;
}
#clock i.n0 {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -moz-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  -o-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  height: 18px;
  width: 10px;
  top: calc(50% - 270px);
  left: calc(50% + 0px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n1 {
  -webkit-transform: translate(-50%, -50%) rotate(6deg);
  -moz-transform: translate(-50%, -50%) rotate(6deg);
  -ms-transform: translate(-50%, -50%) rotate(6deg);
  -o-transform: translate(-50%, -50%) rotate(6deg);
  transform: translate(-50%, -50%) rotate(6deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 264.542824168px);
  left: calc(50% + 27.8045712292px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n2 {
  -webkit-transform: translate(-50%, -50%) rotate(12deg);
  -moz-transform: translate(-50%, -50%) rotate(12deg);
  -ms-transform: translate(-50%, -50%) rotate(12deg);
  -o-transform: translate(-50%, -50%) rotate(12deg);
  transform: translate(-50%, -50%) rotate(12deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 260.1872617952px);
  left: calc(50% + 55.3045097575px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n3 {
  -webkit-transform: translate(-50%, -50%) rotate(18deg);
  -moz-transform: translate(-50%, -50%) rotate(18deg);
  -ms-transform: translate(-50%, -50%) rotate(18deg);
  -o-transform: translate(-50%, -50%) rotate(18deg);
  transform: translate(-50%, -50%) rotate(18deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 252.9810333345px);
  left: calc(50% + 82.1985205037px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n4 {
  -webkit-transform: translate(-50%, -50%) rotate(24deg);
  -moz-transform: translate(-50%, -50%) rotate(24deg);
  -ms-transform: translate(-50%, -50%) rotate(24deg);
  -o-transform: translate(-50%, -50%) rotate(24deg);
  transform: translate(-50%, -50%) rotate(24deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 243.0030917329px);
  left: calc(50% + 108.1919470582px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n5 {
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
  -moz-transform: translate(-50%, -50%) rotate(30deg);
  -ms-transform: translate(-50%, -50%) rotate(30deg);
  -o-transform: translate(-50%, -50%) rotate(30deg);
  transform: translate(-50%, -50%) rotate(30deg);
  height: 18px;
  width: 10px;
  top: calc(50% - 233.8268590218px);
  left: calc(50% + 135px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n6 {
  -webkit-transform: translate(-50%, -50%) rotate(36deg);
  -moz-transform: translate(-50%, -50%) rotate(36deg);
  -ms-transform: translate(-50%, -50%) rotate(36deg);
  -o-transform: translate(-50%, -50%) rotate(36deg);
  transform: translate(-50%, -50%) rotate(36deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 215.1985205037px);
  left: calc(50% + 156.3508771098px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n7 {
  -webkit-transform: translate(-50%, -50%) rotate(42deg);
  -moz-transform: translate(-50%, -50%) rotate(42deg);
  -ms-transform: translate(-50%, -50%) rotate(42deg);
  -o-transform: translate(-50%, -50%) rotate(42deg);
  transform: translate(-50%, -50%) rotate(42deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 197.676523577px);
  left: calc(50% + 177.9887412915px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n8 {
  -webkit-transform: translate(-50%, -50%) rotate(48deg);
  -moz-transform: translate(-50%, -50%) rotate(48deg);
  -ms-transform: translate(-50%, -50%) rotate(48deg);
  -o-transform: translate(-50%, -50%) rotate(48deg);
  transform: translate(-50%, -50%) rotate(48deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 177.9887412915px);
  left: calc(50% + 197.676523577px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n9 {
  -webkit-transform: translate(-50%, -50%) rotate(54deg);
  -moz-transform: translate(-50%, -50%) rotate(54deg);
  -ms-transform: translate(-50%, -50%) rotate(54deg);
  -o-transform: translate(-50%, -50%) rotate(54deg);
  transform: translate(-50%, -50%) rotate(54deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 156.3508771098px);
  left: calc(50% + 215.1985205037px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n10 {
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
  -moz-transform: translate(-50%, -50%) rotate(60deg);
  -ms-transform: translate(-50%, -50%) rotate(60deg);
  -o-transform: translate(-50%, -50%) rotate(60deg);
  transform: translate(-50%, -50%) rotate(60deg);
  height: 18px;
  width: 10px;
  top: calc(50% - 135px);
  left: calc(50% + 233.8268590218px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n11 {
  -webkit-transform: translate(-50%, -50%) rotate(66deg);
  -moz-transform: translate(-50%, -50%) rotate(66deg);
  -ms-transform: translate(-50%, -50%) rotate(66deg);
  -o-transform: translate(-50%, -50%) rotate(66deg);
  transform: translate(-50%, -50%) rotate(66deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 108.1919470582px);
  left: calc(50% + 243.0030917329px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n12 {
  -webkit-transform: translate(-50%, -50%) rotate(72deg);
  -moz-transform: translate(-50%, -50%) rotate(72deg);
  -ms-transform: translate(-50%, -50%) rotate(72deg);
  -o-transform: translate(-50%, -50%) rotate(72deg);
  transform: translate(-50%, -50%) rotate(72deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 82.1985205037px);
  left: calc(50% + 252.9810333345px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n13 {
  -webkit-transform: translate(-50%, -50%) rotate(78deg);
  -moz-transform: translate(-50%, -50%) rotate(78deg);
  -ms-transform: translate(-50%, -50%) rotate(78deg);
  -o-transform: translate(-50%, -50%) rotate(78deg);
  transform: translate(-50%, -50%) rotate(78deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 55.3045097575px);
  left: calc(50% + 260.1872617952px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n14 {
  -webkit-transform: translate(-50%, -50%) rotate(84deg);
  -moz-transform: translate(-50%, -50%) rotate(84deg);
  -ms-transform: translate(-50%, -50%) rotate(84deg);
  -o-transform: translate(-50%, -50%) rotate(84deg);
  transform: translate(-50%, -50%) rotate(84deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 27.8045712292px);
  left: calc(50% + 264.542824168px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n15 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -moz-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  -o-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
  height: 18px;
  width: 10px;
  top: calc(50% - 0px);
  left: calc(50% + 270px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n16 {
  -webkit-transform: translate(-50%, -50%) rotate(96deg);
  -moz-transform: translate(-50%, -50%) rotate(96deg);
  -ms-transform: translate(-50%, -50%) rotate(96deg);
  -o-transform: translate(-50%, -50%) rotate(96deg);
  transform: translate(-50%, -50%) rotate(96deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -27.8045712292px);
  left: calc(50% + 264.542824168px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n17 {
  -webkit-transform: translate(-50%, -50%) rotate(102deg);
  -moz-transform: translate(-50%, -50%) rotate(102deg);
  -ms-transform: translate(-50%, -50%) rotate(102deg);
  -o-transform: translate(-50%, -50%) rotate(102deg);
  transform: translate(-50%, -50%) rotate(102deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -55.3045097575px);
  left: calc(50% + 260.1872617952px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n18 {
  -webkit-transform: translate(-50%, -50%) rotate(108deg);
  -moz-transform: translate(-50%, -50%) rotate(108deg);
  -ms-transform: translate(-50%, -50%) rotate(108deg);
  -o-transform: translate(-50%, -50%) rotate(108deg);
  transform: translate(-50%, -50%) rotate(108deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -82.1985205037px);
  left: calc(50% + 252.9810333345px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n19 {
  -webkit-transform: translate(-50%, -50%) rotate(114deg);
  -moz-transform: translate(-50%, -50%) rotate(114deg);
  -ms-transform: translate(-50%, -50%) rotate(114deg);
  -o-transform: translate(-50%, -50%) rotate(114deg);
  transform: translate(-50%, -50%) rotate(114deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -108.1919470582px);
  left: calc(50% + 243.0030917329px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n20 {
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
  -moz-transform: translate(-50%, -50%) rotate(120deg);
  -ms-transform: translate(-50%, -50%) rotate(120deg);
  -o-transform: translate(-50%, -50%) rotate(120deg);
  transform: translate(-50%, -50%) rotate(120deg);
  height: 18px;
  width: 10px;
  top: calc(50% - -135px);
  left: calc(50% + 233.8268590218px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n21 {
  -webkit-transform: translate(-50%, -50%) rotate(126deg);
  -moz-transform: translate(-50%, -50%) rotate(126deg);
  -ms-transform: translate(-50%, -50%) rotate(126deg);
  -o-transform: translate(-50%, -50%) rotate(126deg);
  transform: translate(-50%, -50%) rotate(126deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -156.3508771098px);
  left: calc(50% + 215.1985205037px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n22 {
  -webkit-transform: translate(-50%, -50%) rotate(132deg);
  -moz-transform: translate(-50%, -50%) rotate(132deg);
  -ms-transform: translate(-50%, -50%) rotate(132deg);
  -o-transform: translate(-50%, -50%) rotate(132deg);
  transform: translate(-50%, -50%) rotate(132deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -177.9887412915px);
  left: calc(50% + 197.676523577px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n23 {
  -webkit-transform: translate(-50%, -50%) rotate(138deg);
  -moz-transform: translate(-50%, -50%) rotate(138deg);
  -ms-transform: translate(-50%, -50%) rotate(138deg);
  -o-transform: translate(-50%, -50%) rotate(138deg);
  transform: translate(-50%, -50%) rotate(138deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -197.676523577px);
  left: calc(50% + 177.9887412915px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n24 {
  -webkit-transform: translate(-50%, -50%) rotate(144deg);
  -moz-transform: translate(-50%, -50%) rotate(144deg);
  -ms-transform: translate(-50%, -50%) rotate(144deg);
  -o-transform: translate(-50%, -50%) rotate(144deg);
  transform: translate(-50%, -50%) rotate(144deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -215.1985205037px);
  left: calc(50% + 156.3508771098px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n25 {
  -webkit-transform: translate(-50%, -50%) rotate(150deg);
  -moz-transform: translate(-50%, -50%) rotate(150deg);
  -ms-transform: translate(-50%, -50%) rotate(150deg);
  -o-transform: translate(-50%, -50%) rotate(150deg);
  transform: translate(-50%, -50%) rotate(150deg);
  height: 18px;
  width: 10px;
  top: calc(50% - -233.8268590218px);
  left: calc(50% + 135px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n26 {
  -webkit-transform: translate(-50%, -50%) rotate(156deg);
  -moz-transform: translate(-50%, -50%) rotate(156deg);
  -ms-transform: translate(-50%, -50%) rotate(156deg);
  -o-transform: translate(-50%, -50%) rotate(156deg);
  transform: translate(-50%, -50%) rotate(156deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -243.0030917329px);
  left: calc(50% + 108.1919470582px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n27 {
  -webkit-transform: translate(-50%, -50%) rotate(162deg);
  -moz-transform: translate(-50%, -50%) rotate(162deg);
  -ms-transform: translate(-50%, -50%) rotate(162deg);
  -o-transform: translate(-50%, -50%) rotate(162deg);
  transform: translate(-50%, -50%) rotate(162deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -252.9810333345px);
  left: calc(50% + 82.1985205037px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n28 {
  -webkit-transform: translate(-50%, -50%) rotate(168deg);
  -moz-transform: translate(-50%, -50%) rotate(168deg);
  -ms-transform: translate(-50%, -50%) rotate(168deg);
  -o-transform: translate(-50%, -50%) rotate(168deg);
  transform: translate(-50%, -50%) rotate(168deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -260.1872617952px);
  left: calc(50% + 55.3045097575px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n29 {
  -webkit-transform: translate(-50%, -50%) rotate(174deg);
  -moz-transform: translate(-50%, -50%) rotate(174deg);
  -ms-transform: translate(-50%, -50%) rotate(174deg);
  -o-transform: translate(-50%, -50%) rotate(174deg);
  transform: translate(-50%, -50%) rotate(174deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -264.542824168px);
  left: calc(50% + 27.8045712292px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n30 {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -moz-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  -o-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  height: 18px;
  width: 10px;
  top: calc(50% - -270px);
  left: calc(50% + 0px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n31 {
  -webkit-transform: translate(-50%, -50%) rotate(186deg);
  -moz-transform: translate(-50%, -50%) rotate(186deg);
  -ms-transform: translate(-50%, -50%) rotate(186deg);
  -o-transform: translate(-50%, -50%) rotate(186deg);
  transform: translate(-50%, -50%) rotate(186deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -264.542824168px);
  left: calc(50% + -27.8045712292px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n32 {
  -webkit-transform: translate(-50%, -50%) rotate(192deg);
  -moz-transform: translate(-50%, -50%) rotate(192deg);
  -ms-transform: translate(-50%, -50%) rotate(192deg);
  -o-transform: translate(-50%, -50%) rotate(192deg);
  transform: translate(-50%, -50%) rotate(192deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -260.1872617952px);
  left: calc(50% + -55.3045097575px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n33 {
  -webkit-transform: translate(-50%, -50%) rotate(198deg);
  -moz-transform: translate(-50%, -50%) rotate(198deg);
  -ms-transform: translate(-50%, -50%) rotate(198deg);
  -o-transform: translate(-50%, -50%) rotate(198deg);
  transform: translate(-50%, -50%) rotate(198deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -252.9810333345px);
  left: calc(50% + -82.1985205037px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n34 {
  -webkit-transform: translate(-50%, -50%) rotate(204deg);
  -moz-transform: translate(-50%, -50%) rotate(204deg);
  -ms-transform: translate(-50%, -50%) rotate(204deg);
  -o-transform: translate(-50%, -50%) rotate(204deg);
  transform: translate(-50%, -50%) rotate(204deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -243.0030917329px);
  left: calc(50% + -108.1919470582px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n35 {
  -webkit-transform: translate(-50%, -50%) rotate(210deg);
  -moz-transform: translate(-50%, -50%) rotate(210deg);
  -ms-transform: translate(-50%, -50%) rotate(210deg);
  -o-transform: translate(-50%, -50%) rotate(210deg);
  transform: translate(-50%, -50%) rotate(210deg);
  height: 18px;
  width: 10px;
  top: calc(50% - -233.8268590218px);
  left: calc(50% + -135px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n36 {
  -webkit-transform: translate(-50%, -50%) rotate(216deg);
  -moz-transform: translate(-50%, -50%) rotate(216deg);
  -ms-transform: translate(-50%, -50%) rotate(216deg);
  -o-transform: translate(-50%, -50%) rotate(216deg);
  transform: translate(-50%, -50%) rotate(216deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -215.1985205037px);
  left: calc(50% + -156.3508771098px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n37 {
  -webkit-transform: translate(-50%, -50%) rotate(222deg);
  -moz-transform: translate(-50%, -50%) rotate(222deg);
  -ms-transform: translate(-50%, -50%) rotate(222deg);
  -o-transform: translate(-50%, -50%) rotate(222deg);
  transform: translate(-50%, -50%) rotate(222deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -197.676523577px);
  left: calc(50% + -177.9887412915px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n38 {
  -webkit-transform: translate(-50%, -50%) rotate(228deg);
  -moz-transform: translate(-50%, -50%) rotate(228deg);
  -ms-transform: translate(-50%, -50%) rotate(228deg);
  -o-transform: translate(-50%, -50%) rotate(228deg);
  transform: translate(-50%, -50%) rotate(228deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -177.9887412915px);
  left: calc(50% + -197.676523577px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n39 {
  -webkit-transform: translate(-50%, -50%) rotate(234deg);
  -moz-transform: translate(-50%, -50%) rotate(234deg);
  -ms-transform: translate(-50%, -50%) rotate(234deg);
  -o-transform: translate(-50%, -50%) rotate(234deg);
  transform: translate(-50%, -50%) rotate(234deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -156.3508771098px);
  left: calc(50% + -215.1985205037px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n40 {
  -webkit-transform: translate(-50%, -50%) rotate(240deg);
  -moz-transform: translate(-50%, -50%) rotate(240deg);
  -ms-transform: translate(-50%, -50%) rotate(240deg);
  -o-transform: translate(-50%, -50%) rotate(240deg);
  transform: translate(-50%, -50%) rotate(240deg);
  height: 18px;
  width: 10px;
  top: calc(50% - -135px);
  left: calc(50% + -233.8268590218px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n41 {
  -webkit-transform: translate(-50%, -50%) rotate(246deg);
  -moz-transform: translate(-50%, -50%) rotate(246deg);
  -ms-transform: translate(-50%, -50%) rotate(246deg);
  -o-transform: translate(-50%, -50%) rotate(246deg);
  transform: translate(-50%, -50%) rotate(246deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -108.1919470582px);
  left: calc(50% + -243.0030917329px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n42 {
  -webkit-transform: translate(-50%, -50%) rotate(252deg);
  -moz-transform: translate(-50%, -50%) rotate(252deg);
  -ms-transform: translate(-50%, -50%) rotate(252deg);
  -o-transform: translate(-50%, -50%) rotate(252deg);
  transform: translate(-50%, -50%) rotate(252deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -82.1985205037px);
  left: calc(50% + -252.9810333345px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n43 {
  -webkit-transform: translate(-50%, -50%) rotate(258deg);
  -moz-transform: translate(-50%, -50%) rotate(258deg);
  -ms-transform: translate(-50%, -50%) rotate(258deg);
  -o-transform: translate(-50%, -50%) rotate(258deg);
  transform: translate(-50%, -50%) rotate(258deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -55.3045097575px);
  left: calc(50% + -260.1872617952px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n44 {
  -webkit-transform: translate(-50%, -50%) rotate(264deg);
  -moz-transform: translate(-50%, -50%) rotate(264deg);
  -ms-transform: translate(-50%, -50%) rotate(264deg);
  -o-transform: translate(-50%, -50%) rotate(264deg);
  transform: translate(-50%, -50%) rotate(264deg);
  height: 8px;
  width: 8px;
  top: calc(50% - -27.8045712292px);
  left: calc(50% + -264.542824168px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n45 {
  -webkit-transform: translate(-50%, -50%) rotate(270deg);
  -moz-transform: translate(-50%, -50%) rotate(270deg);
  -ms-transform: translate(-50%, -50%) rotate(270deg);
  -o-transform: translate(-50%, -50%) rotate(270deg);
  transform: translate(-50%, -50%) rotate(270deg);
  height: 18px;
  width: 10px;
  top: calc(50% - 0px);
  left: calc(50% + -270px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n46 {
  -webkit-transform: translate(-50%, -50%) rotate(276deg);
  -moz-transform: translate(-50%, -50%) rotate(276deg);
  -ms-transform: translate(-50%, -50%) rotate(276deg);
  -o-transform: translate(-50%, -50%) rotate(276deg);
  transform: translate(-50%, -50%) rotate(276deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 27.8045712292px);
  left: calc(50% + -264.542824168px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n47 {
  -webkit-transform: translate(-50%, -50%) rotate(282deg);
  -moz-transform: translate(-50%, -50%) rotate(282deg);
  -ms-transform: translate(-50%, -50%) rotate(282deg);
  -o-transform: translate(-50%, -50%) rotate(282deg);
  transform: translate(-50%, -50%) rotate(282deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 55.3045097575px);
  left: calc(50% + -260.1872617952px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n48 {
  -webkit-transform: translate(-50%, -50%) rotate(288deg);
  -moz-transform: translate(-50%, -50%) rotate(288deg);
  -ms-transform: translate(-50%, -50%) rotate(288deg);
  -o-transform: translate(-50%, -50%) rotate(288deg);
  transform: translate(-50%, -50%) rotate(288deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 82.1985205037px);
  left: calc(50% + -252.9810333345px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n49 {
  -webkit-transform: translate(-50%, -50%) rotate(294deg);
  -moz-transform: translate(-50%, -50%) rotate(294deg);
  -ms-transform: translate(-50%, -50%) rotate(294deg);
  -o-transform: translate(-50%, -50%) rotate(294deg);
  transform: translate(-50%, -50%) rotate(294deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 108.1919470582px);
  left: calc(50% + -243.0030917329px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n50 {
  -webkit-transform: translate(-50%, -50%) rotate(300deg);
  -moz-transform: translate(-50%, -50%) rotate(300deg);
  -ms-transform: translate(-50%, -50%) rotate(300deg);
  -o-transform: translate(-50%, -50%) rotate(300deg);
  transform: translate(-50%, -50%) rotate(300deg);
  height: 18px;
  width: 10px;
  top: calc(50% - 135px);
  left: calc(50% + -233.8268590218px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n51 {
  -webkit-transform: translate(-50%, -50%) rotate(306deg);
  -moz-transform: translate(-50%, -50%) rotate(306deg);
  -ms-transform: translate(-50%, -50%) rotate(306deg);
  -o-transform: translate(-50%, -50%) rotate(306deg);
  transform: translate(-50%, -50%) rotate(306deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 156.3508771098px);
  left: calc(50% + -215.1985205037px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n52 {
  -webkit-transform: translate(-50%, -50%) rotate(312deg);
  -moz-transform: translate(-50%, -50%) rotate(312deg);
  -ms-transform: translate(-50%, -50%) rotate(312deg);
  -o-transform: translate(-50%, -50%) rotate(312deg);
  transform: translate(-50%, -50%) rotate(312deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 177.9887412915px);
  left: calc(50% + -197.676523577px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n53 {
  -webkit-transform: translate(-50%, -50%) rotate(318deg);
  -moz-transform: translate(-50%, -50%) rotate(318deg);
  -ms-transform: translate(-50%, -50%) rotate(318deg);
  -o-transform: translate(-50%, -50%) rotate(318deg);
  transform: translate(-50%, -50%) rotate(318deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 197.676523577px);
  left: calc(50% + -177.9887412915px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n54 {
  -webkit-transform: translate(-50%, -50%) rotate(324deg);
  -moz-transform: translate(-50%, -50%) rotate(324deg);
  -ms-transform: translate(-50%, -50%) rotate(324deg);
  -o-transform: translate(-50%, -50%) rotate(324deg);
  transform: translate(-50%, -50%) rotate(324deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 215.1985205037px);
  left: calc(50% + -156.3508771098px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n55 {
  -webkit-transform: translate(-50%, -50%) rotate(330deg);
  -moz-transform: translate(-50%, -50%) rotate(330deg);
  -ms-transform: translate(-50%, -50%) rotate(330deg);
  -o-transform: translate(-50%, -50%) rotate(330deg);
  transform: translate(-50%, -50%) rotate(330deg);
  height: 18px;
  width: 10px;
  top: calc(50% - 233.8268590218px);
  left: calc(50% + -135px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#clock i.n56 {
  -webkit-transform: translate(-50%, -50%) rotate(336deg);
  -moz-transform: translate(-50%, -50%) rotate(336deg);
  -ms-transform: translate(-50%, -50%) rotate(336deg);
  -o-transform: translate(-50%, -50%) rotate(336deg);
  transform: translate(-50%, -50%) rotate(336deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 243.0030917329px);
  left: calc(50% + -108.1919470582px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n57 {
  -webkit-transform: translate(-50%, -50%) rotate(342deg);
  -moz-transform: translate(-50%, -50%) rotate(342deg);
  -ms-transform: translate(-50%, -50%) rotate(342deg);
  -o-transform: translate(-50%, -50%) rotate(342deg);
  transform: translate(-50%, -50%) rotate(342deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 252.9810333345px);
  left: calc(50% + -82.1985205037px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n58 {
  -webkit-transform: translate(-50%, -50%) rotate(348deg);
  -moz-transform: translate(-50%, -50%) rotate(348deg);
  -ms-transform: translate(-50%, -50%) rotate(348deg);
  -o-transform: translate(-50%, -50%) rotate(348deg);
  transform: translate(-50%, -50%) rotate(348deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 260.1872617952px);
  left: calc(50% + -55.3045097575px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock i.n59 {
  -webkit-transform: translate(-50%, -50%) rotate(354deg);
  -moz-transform: translate(-50%, -50%) rotate(354deg);
  -ms-transform: translate(-50%, -50%) rotate(354deg);
  -o-transform: translate(-50%, -50%) rotate(354deg);
  transform: translate(-50%, -50%) rotate(354deg);
  height: 8px;
  width: 8px;
  top: calc(50% - 264.542824168px);
  left: calc(50% + -27.8045712292px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#clock u {
  position: absolute;
  display: inline-block;
  z-index: 3;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}
#clock u.n0 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#clock u.n1 {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
}
#clock u.n2 {
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  transform: rotate(12deg);
}
#clock u.n3 {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
#clock u.n4 {
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  transform: rotate(24deg);
}
#clock u.n5 {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
#clock u.n6 {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
#clock u.n7 {
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  transform: rotate(42deg);
}
#clock u.n8 {
  -webkit-transform: rotate(48deg);
  -moz-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  -o-transform: rotate(48deg);
  transform: rotate(48deg);
}
#clock u.n9 {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
#clock u.n10 {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
#clock u.n11 {
  -webkit-transform: rotate(66deg);
  -moz-transform: rotate(66deg);
  -ms-transform: rotate(66deg);
  -o-transform: rotate(66deg);
  transform: rotate(66deg);
}
#clock u.n12 {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
#clock u.n13 {
  -webkit-transform: rotate(78deg);
  -moz-transform: rotate(78deg);
  -ms-transform: rotate(78deg);
  -o-transform: rotate(78deg);
  transform: rotate(78deg);
}
#clock u.n14 {
  -webkit-transform: rotate(84deg);
  -moz-transform: rotate(84deg);
  -ms-transform: rotate(84deg);
  -o-transform: rotate(84deg);
  transform: rotate(84deg);
}
#clock u.n15 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#clock u.n16 {
  -webkit-transform: rotate(96deg);
  -moz-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  -o-transform: rotate(96deg);
  transform: rotate(96deg);
}
#clock u.n17 {
  -webkit-transform: rotate(102deg);
  -moz-transform: rotate(102deg);
  -ms-transform: rotate(102deg);
  -o-transform: rotate(102deg);
  transform: rotate(102deg);
}
#clock u.n18 {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}
#clock u.n19 {
  -webkit-transform: rotate(114deg);
  -moz-transform: rotate(114deg);
  -ms-transform: rotate(114deg);
  -o-transform: rotate(114deg);
  transform: rotate(114deg);
}
#clock u.n20 {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
#clock u.n21 {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}
#clock u.n22 {
  -webkit-transform: rotate(132deg);
  -moz-transform: rotate(132deg);
  -ms-transform: rotate(132deg);
  -o-transform: rotate(132deg);
  transform: rotate(132deg);
}
#clock u.n23 {
  -webkit-transform: rotate(138deg);
  -moz-transform: rotate(138deg);
  -ms-transform: rotate(138deg);
  -o-transform: rotate(138deg);
  transform: rotate(138deg);
}
#clock u.n24 {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}
#clock u.n25 {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}
#clock u.n26 {
  -webkit-transform: rotate(156deg);
  -moz-transform: rotate(156deg);
  -ms-transform: rotate(156deg);
  -o-transform: rotate(156deg);
  transform: rotate(156deg);
}
#clock u.n27 {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}
#clock u.n28 {
  -webkit-transform: rotate(168deg);
  -moz-transform: rotate(168deg);
  -ms-transform: rotate(168deg);
  -o-transform: rotate(168deg);
  transform: rotate(168deg);
}
#clock u.n29 {
  -webkit-transform: rotate(174deg);
  -moz-transform: rotate(174deg);
  -ms-transform: rotate(174deg);
  -o-transform: rotate(174deg);
  transform: rotate(174deg);
}
#clock u.n30 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#clock u.n31 {
  -webkit-transform: rotate(186deg);
  -moz-transform: rotate(186deg);
  -ms-transform: rotate(186deg);
  -o-transform: rotate(186deg);
  transform: rotate(186deg);
}
#clock u.n32 {
  -webkit-transform: rotate(192deg);
  -moz-transform: rotate(192deg);
  -ms-transform: rotate(192deg);
  -o-transform: rotate(192deg);
  transform: rotate(192deg);
}
#clock u.n33 {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}
#clock u.n34 {
  -webkit-transform: rotate(204deg);
  -moz-transform: rotate(204deg);
  -ms-transform: rotate(204deg);
  -o-transform: rotate(204deg);
  transform: rotate(204deg);
}
#clock u.n35 {
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);
}
#clock u.n36 {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
#clock u.n37 {
  -webkit-transform: rotate(222deg);
  -moz-transform: rotate(222deg);
  -ms-transform: rotate(222deg);
  -o-transform: rotate(222deg);
  transform: rotate(222deg);
}
#clock u.n38 {
  -webkit-transform: rotate(228deg);
  -moz-transform: rotate(228deg);
  -ms-transform: rotate(228deg);
  -o-transform: rotate(228deg);
  transform: rotate(228deg);
}
#clock u.n39 {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}
#clock u.n40 {
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
}
#clock u.n41 {
  -webkit-transform: rotate(246deg);
  -moz-transform: rotate(246deg);
  -ms-transform: rotate(246deg);
  -o-transform: rotate(246deg);
  transform: rotate(246deg);
}
#clock u.n42 {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}
#clock u.n43 {
  -webkit-transform: rotate(258deg);
  -moz-transform: rotate(258deg);
  -ms-transform: rotate(258deg);
  -o-transform: rotate(258deg);
  transform: rotate(258deg);
}
#clock u.n44 {
  -webkit-transform: rotate(264deg);
  -moz-transform: rotate(264deg);
  -ms-transform: rotate(264deg);
  -o-transform: rotate(264deg);
  transform: rotate(264deg);
}
#clock u.n45 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
#clock u.n46 {
  -webkit-transform: rotate(276deg);
  -moz-transform: rotate(276deg);
  -ms-transform: rotate(276deg);
  -o-transform: rotate(276deg);
  transform: rotate(276deg);
}
#clock u.n47 {
  -webkit-transform: rotate(282deg);
  -moz-transform: rotate(282deg);
  -ms-transform: rotate(282deg);
  -o-transform: rotate(282deg);
  transform: rotate(282deg);
}
#clock u.n48 {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}
#clock u.n49 {
  -webkit-transform: rotate(294deg);
  -moz-transform: rotate(294deg);
  -ms-transform: rotate(294deg);
  -o-transform: rotate(294deg);
  transform: rotate(294deg);
}
#clock u.n50 {
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);
}
#clock u.n51 {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}
#clock u.n52 {
  -webkit-transform: rotate(312deg);
  -moz-transform: rotate(312deg);
  -ms-transform: rotate(312deg);
  -o-transform: rotate(312deg);
  transform: rotate(312deg);
}
#clock u.n53 {
  -webkit-transform: rotate(318deg);
  -moz-transform: rotate(318deg);
  -ms-transform: rotate(318deg);
  -o-transform: rotate(318deg);
  transform: rotate(318deg);
}
#clock u.n54 {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}
#clock u.n55 {
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);
}
#clock u.n56 {
  -webkit-transform: rotate(336deg);
  -moz-transform: rotate(336deg);
  -ms-transform: rotate(336deg);
  -o-transform: rotate(336deg);
  transform: rotate(336deg);
}
#clock u.n57 {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}
#clock u.n58 {
  -webkit-transform: rotate(348deg);
  -moz-transform: rotate(348deg);
  -ms-transform: rotate(348deg);
  -o-transform: rotate(348deg);
  transform: rotate(348deg);
}
#clock u.n59 {
  -webkit-transform: rotate(354deg);
  -moz-transform: rotate(354deg);
  -ms-transform: rotate(354deg);
  -o-transform: rotate(354deg);
  transform: rotate(354deg);
}
#clock u.n60 {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#clock u.ani {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.11, 1.45, 0.46, 0.94);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.11, 1.45, 0.46, 0.94);
  -o-transition: -o-transform 0.5s cubic-bezier(0.11, 1.45, 0.46, 0.94);
  transition: transform 0.5s cubic-bezier(0.11, 1.45, 0.46, 0.94);
}
#clock u:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#clock u.s {
  width: 8px;
  height: calc(50% + -36px);
  left: calc(50% - 4px);
  bottom: calc(50% - 24px);
  background-color: #d54f3d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform-origin: center calc(100% - 24px);
  -moz-transform-origin: center calc(100% - 24px);
  -ms-transform-origin: center calc(100% - 24px);
  -o-transform-origin: center calc(100% - 24px);
  transform-origin: center calc(100% - 24px);
}
#clock u.s:after {
  width: 20px;
  height: 20px;
  bottom: 14px;
  background-color: #d54f3d;
}
#clock u.m {
  width: 12px;
  height: calc(50% + -60px);
  left: calc(50% - 6px);
  bottom: calc(50% - 30px);
  background-color: #cfb578;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform-origin: center calc(100% - 30px);
  -moz-transform-origin: center calc(100% - 30px);
  -ms-transform-origin: center calc(100% - 30px);
  -o-transform-origin: center calc(100% - 30px);
  transform-origin: center calc(100% - 30px);
}
#clock u.m:after {
  width: 30px;
  height: 30px;
  bottom: 15px;
  background-color: #cfb578;
}
#clock u.h {
  width: 16px;
  height: calc(50% + -84px);
  left: calc(50% - 8px);
  bottom: calc(50% - 36px);
  background-color: #a89060;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-transform-origin: center calc(100% - 36px);
  -moz-transform-origin: center calc(100% - 36px);
  -ms-transform-origin: center calc(100% - 36px);
  -o-transform-origin: center calc(100% - 36px);
  transform-origin: center calc(100% - 36px);
}
#clock u.h:after {
  width: 40px;
  height: 40px;
  bottom: 16px;
  background-color: #a89060;
}

#app.full #screen:before {
  content: "退出螢幕";
}

#screen {
  bottom: 20px;
  left: 50%;
  display: inline-block;
  padding: 4px 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: white;
  background-color: #007bff;
  border: 1px solid #007bff;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  -o-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#screen:before {
  content: "使用螢幕";
}
#screen:hover {
  border-color: #0062cc;
  background-color: #0069d9;
}

#digital {
  left: 50%;
  top: 620px;
  width: 280px;
  height: 140px;
  line-height: 140px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#digital i {
  position: absolute;
  left: -32px;
  top: -4px;
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 30px;
  color: #b08f00;
}
#digital i:before {
  content: "";
}
#digital i.n {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.65);
}
#digital i.n:before {
  content: "";
}
#digital span {
  height: 100%;
  color: white;
  font-size: 120px;
  letter-spacing: 2px;
  width: calc(100% / 4 - 20px / 4);
  flex-shrink: 0;
  font-family: "digital";
  color: #5de89f;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
#digital span:nth-child(1), #digital span:nth-child(4) {
  text-align: right;
}
#digital span:nth-child(2), #digital span:nth-child(5) {
  text-align: left;
}
#digital span:nth-child(3) {
  width: 20px;
  font-family: "digital2";
  -webkit-animation: opacity 2s linear infinite;
  -moz-animation: opacity 2s linear infinite;
  -ms-animation: opacity 2s linear infinite;
  -o-animation: opacity 2s linear infinite;
  animation: opacity 2s linear infinite;
}

@-webkit-keyframes opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }
}
@-moz-keyframes opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }
}
@-o-keyframes opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }
}
@-ms-keyframes opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }
}
@keyframes opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }
}