@charset "UTF-8";
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -ms-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

body {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #5a5a5a;
  font-size: medium;
  text-align: center;
  font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  background-color: white;
}

.map {
  margin: 20px;
  display: inline-block;
  display: inline-flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.map .units {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.map .units .unit {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
.map .units .unit.on {
  background-color: rgba(0, 0, 255, 0.2);
}
.map .units .unit.food {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: red;
}

#tab {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  border-bottom: 1px solid #c8c8c8;
  padding: 0 12px;
  padding-top: 8px;
}
#tab label {
  display: inline-block;
  padding: 0 16px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  cursor: pointer;
  border-top: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#tab label:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}
#tab label:last-child {
  border-right: 1px solid #c8c8c8;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
#tab[data-index="0"] label:nth-child(1) {
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  background-color: white;
  margin-bottom: -1px;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
#tab[data-index="0"] label:nth-child(1) + * {
  border-left: 0;
}
#tab[data-index="0"] + #panel > div:nth-child(1) {
  display: inline-block;
}
#tab[data-index="1"] label:nth-child(2) {
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  background-color: white;
  margin-bottom: -1px;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
#tab[data-index="1"] label:nth-child(2) + * {
  border-left: 0;
}
#tab[data-index="1"] + #panel > div:nth-child(2) {
  display: inline-block;
}
#tab[data-index="2"] label:nth-child(3) {
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  background-color: white;
  margin-bottom: -1px;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
#tab[data-index="2"] label:nth-child(3) + * {
  border-left: 0;
}
#tab[data-index="2"] + #panel > div:nth-child(3) {
  display: inline-block;
}

#panel {
  width: 100%;
}
#panel > div {
  display: none;
}

#js, #scss {
  width: 100%;
  padding: 20px;
}
#js div, #scss div {
  display: inline-block;
  width: 100%;
  text-align: left;
  background-color: #242428;
  padding: 4px 0;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#js code, #scss code {
  position: relative;
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  padding-left: 48px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#js code:nth-child(1):before, #scss code:nth-child(1):before {
  content: "1";
}
#js code:nth-child(2):before, #scss code:nth-child(2):before {
  content: "2";
}
#js code:nth-child(3):before, #scss code:nth-child(3):before {
  content: "3";
}
#js code:nth-child(4):before, #scss code:nth-child(4):before {
  content: "4";
}
#js code:nth-child(5):before, #scss code:nth-child(5):before {
  content: "5";
}
#js code:nth-child(6):before, #scss code:nth-child(6):before {
  content: "6";
}
#js code:nth-child(7):before, #scss code:nth-child(7):before {
  content: "7";
}
#js code:nth-child(8):before, #scss code:nth-child(8):before {
  content: "8";
}
#js code:nth-child(9):before, #scss code:nth-child(9):before {
  content: "9";
}
#js code:nth-child(10):before, #scss code:nth-child(10):before {
  content: "10";
}
#js code:nth-child(11):before, #scss code:nth-child(11):before {
  content: "11";
}
#js code:nth-child(12):before, #scss code:nth-child(12):before {
  content: "12";
}
#js code:nth-child(13):before, #scss code:nth-child(13):before {
  content: "13";
}
#js code:nth-child(14):before, #scss code:nth-child(14):before {
  content: "14";
}
#js code:nth-child(15):before, #scss code:nth-child(15):before {
  content: "15";
}
#js code:nth-child(16):before, #scss code:nth-child(16):before {
  content: "16";
}
#js code:nth-child(17):before, #scss code:nth-child(17):before {
  content: "17";
}
#js code:nth-child(18):before, #scss code:nth-child(18):before {
  content: "18";
}
#js code:nth-child(19):before, #scss code:nth-child(19):before {
  content: "19";
}
#js code:nth-child(20):before, #scss code:nth-child(20):before {
  content: "20";
}
#js code:nth-child(21):before, #scss code:nth-child(21):before {
  content: "21";
}
#js code:nth-child(22):before, #scss code:nth-child(22):before {
  content: "22";
}
#js code:nth-child(23):before, #scss code:nth-child(23):before {
  content: "23";
}
#js code:nth-child(24):before, #scss code:nth-child(24):before {
  content: "24";
}
#js code:nth-child(25):before, #scss code:nth-child(25):before {
  content: "25";
}
#js code:nth-child(26):before, #scss code:nth-child(26):before {
  content: "26";
}
#js code:nth-child(27):before, #scss code:nth-child(27):before {
  content: "27";
}
#js code:nth-child(28):before, #scss code:nth-child(28):before {
  content: "28";
}
#js code:nth-child(29):before, #scss code:nth-child(29):before {
  content: "29";
}
#js code:nth-child(30):before, #scss code:nth-child(30):before {
  content: "30";
}
#js code:nth-child(31):before, #scss code:nth-child(31):before {
  content: "31";
}
#js code:nth-child(32):before, #scss code:nth-child(32):before {
  content: "32";
}
#js code:nth-child(33):before, #scss code:nth-child(33):before {
  content: "33";
}
#js code:nth-child(34):before, #scss code:nth-child(34):before {
  content: "34";
}
#js code:nth-child(35):before, #scss code:nth-child(35):before {
  content: "35";
}
#js code:nth-child(36):before, #scss code:nth-child(36):before {
  content: "36";
}
#js code:nth-child(37):before, #scss code:nth-child(37):before {
  content: "37";
}
#js code:nth-child(38):before, #scss code:nth-child(38):before {
  content: "38";
}
#js code:nth-child(39):before, #scss code:nth-child(39):before {
  content: "39";
}
#js code:nth-child(40):before, #scss code:nth-child(40):before {
  content: "40";
}
#js code:nth-child(41):before, #scss code:nth-child(41):before {
  content: "41";
}
#js code:nth-child(42):before, #scss code:nth-child(42):before {
  content: "42";
}
#js code:nth-child(43):before, #scss code:nth-child(43):before {
  content: "43";
}
#js code:nth-child(44):before, #scss code:nth-child(44):before {
  content: "44";
}
#js code:nth-child(45):before, #scss code:nth-child(45):before {
  content: "45";
}
#js code:nth-child(46):before, #scss code:nth-child(46):before {
  content: "46";
}
#js code:nth-child(47):before, #scss code:nth-child(47):before {
  content: "47";
}
#js code:nth-child(48):before, #scss code:nth-child(48):before {
  content: "48";
}
#js code:nth-child(49):before, #scss code:nth-child(49):before {
  content: "49";
}
#js code:nth-child(50):before, #scss code:nth-child(50):before {
  content: "50";
}
#js code:nth-child(51):before, #scss code:nth-child(51):before {
  content: "51";
}
#js code:nth-child(52):before, #scss code:nth-child(52):before {
  content: "52";
}
#js code:nth-child(53):before, #scss code:nth-child(53):before {
  content: "53";
}
#js code:nth-child(54):before, #scss code:nth-child(54):before {
  content: "54";
}
#js code:nth-child(55):before, #scss code:nth-child(55):before {
  content: "55";
}
#js code:nth-child(56):before, #scss code:nth-child(56):before {
  content: "56";
}
#js code:nth-child(57):before, #scss code:nth-child(57):before {
  content: "57";
}
#js code:nth-child(58):before, #scss code:nth-child(58):before {
  content: "58";
}
#js code:nth-child(59):before, #scss code:nth-child(59):before {
  content: "59";
}
#js code:nth-child(60):before, #scss code:nth-child(60):before {
  content: "60";
}
#js code:nth-child(61):before, #scss code:nth-child(61):before {
  content: "61";
}
#js code:nth-child(62):before, #scss code:nth-child(62):before {
  content: "62";
}
#js code:nth-child(63):before, #scss code:nth-child(63):before {
  content: "63";
}
#js code:nth-child(64):before, #scss code:nth-child(64):before {
  content: "64";
}
#js code:nth-child(65):before, #scss code:nth-child(65):before {
  content: "65";
}
#js code:nth-child(66):before, #scss code:nth-child(66):before {
  content: "66";
}
#js code:nth-child(67):before, #scss code:nth-child(67):before {
  content: "67";
}
#js code:nth-child(68):before, #scss code:nth-child(68):before {
  content: "68";
}
#js code:nth-child(69):before, #scss code:nth-child(69):before {
  content: "69";
}
#js code:nth-child(70):before, #scss code:nth-child(70):before {
  content: "70";
}
#js code:nth-child(71):before, #scss code:nth-child(71):before {
  content: "71";
}
#js code:nth-child(72):before, #scss code:nth-child(72):before {
  content: "72";
}
#js code:nth-child(73):before, #scss code:nth-child(73):before {
  content: "73";
}
#js code:nth-child(74):before, #scss code:nth-child(74):before {
  content: "74";
}
#js code:nth-child(75):before, #scss code:nth-child(75):before {
  content: "75";
}
#js code:nth-child(76):before, #scss code:nth-child(76):before {
  content: "76";
}
#js code:nth-child(77):before, #scss code:nth-child(77):before {
  content: "77";
}
#js code:nth-child(78):before, #scss code:nth-child(78):before {
  content: "78";
}
#js code:nth-child(79):before, #scss code:nth-child(79):before {
  content: "79";
}
#js code:nth-child(80):before, #scss code:nth-child(80):before {
  content: "80";
}
#js code:nth-child(81):before, #scss code:nth-child(81):before {
  content: "81";
}
#js code:nth-child(82):before, #scss code:nth-child(82):before {
  content: "82";
}
#js code:nth-child(83):before, #scss code:nth-child(83):before {
  content: "83";
}
#js code:nth-child(84):before, #scss code:nth-child(84):before {
  content: "84";
}
#js code:nth-child(85):before, #scss code:nth-child(85):before {
  content: "85";
}
#js code:nth-child(86):before, #scss code:nth-child(86):before {
  content: "86";
}
#js code:nth-child(87):before, #scss code:nth-child(87):before {
  content: "87";
}
#js code:nth-child(88):before, #scss code:nth-child(88):before {
  content: "88";
}
#js code:nth-child(89):before, #scss code:nth-child(89):before {
  content: "89";
}
#js code:nth-child(90):before, #scss code:nth-child(90):before {
  content: "90";
}
#js code:nth-child(91):before, #scss code:nth-child(91):before {
  content: "91";
}
#js code:nth-child(92):before, #scss code:nth-child(92):before {
  content: "92";
}
#js code:nth-child(93):before, #scss code:nth-child(93):before {
  content: "93";
}
#js code:nth-child(94):before, #scss code:nth-child(94):before {
  content: "94";
}
#js code:nth-child(95):before, #scss code:nth-child(95):before {
  content: "95";
}
#js code:nth-child(96):before, #scss code:nth-child(96):before {
  content: "96";
}
#js code:nth-child(97):before, #scss code:nth-child(97):before {
  content: "97";
}
#js code:nth-child(98):before, #scss code:nth-child(98):before {
  content: "98";
}
#js code:nth-child(99):before, #scss code:nth-child(99):before {
  content: "99";
}
#js code:nth-child(100):before, #scss code:nth-child(100):before {
  content: "100";
}
#js code:nth-child(101):before, #scss code:nth-child(101):before {
  content: "101";
}
#js code:nth-child(102):before, #scss code:nth-child(102):before {
  content: "102";
}
#js code:nth-child(103):before, #scss code:nth-child(103):before {
  content: "103";
}
#js code:nth-child(104):before, #scss code:nth-child(104):before {
  content: "104";
}
#js code:nth-child(105):before, #scss code:nth-child(105):before {
  content: "105";
}
#js code:nth-child(106):before, #scss code:nth-child(106):before {
  content: "106";
}
#js code:nth-child(107):before, #scss code:nth-child(107):before {
  content: "107";
}
#js code:nth-child(108):before, #scss code:nth-child(108):before {
  content: "108";
}
#js code:nth-child(109):before, #scss code:nth-child(109):before {
  content: "109";
}
#js code:nth-child(110):before, #scss code:nth-child(110):before {
  content: "110";
}
#js code:nth-child(111):before, #scss code:nth-child(111):before {
  content: "111";
}
#js code:nth-child(112):before, #scss code:nth-child(112):before {
  content: "112";
}
#js code:nth-child(113):before, #scss code:nth-child(113):before {
  content: "113";
}
#js code:nth-child(114):before, #scss code:nth-child(114):before {
  content: "114";
}
#js code:nth-child(115):before, #scss code:nth-child(115):before {
  content: "115";
}
#js code:nth-child(116):before, #scss code:nth-child(116):before {
  content: "116";
}
#js code:nth-child(117):before, #scss code:nth-child(117):before {
  content: "117";
}
#js code:nth-child(118):before, #scss code:nth-child(118):before {
  content: "118";
}
#js code:nth-child(119):before, #scss code:nth-child(119):before {
  content: "119";
}
#js code:nth-child(120):before, #scss code:nth-child(120):before {
  content: "120";
}
#js code:nth-child(121):before, #scss code:nth-child(121):before {
  content: "121";
}
#js code:nth-child(122):before, #scss code:nth-child(122):before {
  content: "122";
}
#js code:nth-child(123):before, #scss code:nth-child(123):before {
  content: "123";
}
#js code:nth-child(124):before, #scss code:nth-child(124):before {
  content: "124";
}
#js code:nth-child(125):before, #scss code:nth-child(125):before {
  content: "125";
}
#js code:nth-child(126):before, #scss code:nth-child(126):before {
  content: "126";
}
#js code:nth-child(127):before, #scss code:nth-child(127):before {
  content: "127";
}
#js code:nth-child(128):before, #scss code:nth-child(128):before {
  content: "128";
}
#js code:nth-child(129):before, #scss code:nth-child(129):before {
  content: "129";
}
#js code:nth-child(130):before, #scss code:nth-child(130):before {
  content: "130";
}
#js code:nth-child(131):before, #scss code:nth-child(131):before {
  content: "131";
}
#js code:nth-child(132):before, #scss code:nth-child(132):before {
  content: "132";
}
#js code:nth-child(133):before, #scss code:nth-child(133):before {
  content: "133";
}
#js code:nth-child(134):before, #scss code:nth-child(134):before {
  content: "134";
}
#js code:nth-child(135):before, #scss code:nth-child(135):before {
  content: "135";
}
#js code:nth-child(136):before, #scss code:nth-child(136):before {
  content: "136";
}
#js code:nth-child(137):before, #scss code:nth-child(137):before {
  content: "137";
}
#js code:nth-child(138):before, #scss code:nth-child(138):before {
  content: "138";
}
#js code:nth-child(139):before, #scss code:nth-child(139):before {
  content: "139";
}
#js code:nth-child(140):before, #scss code:nth-child(140):before {
  content: "140";
}
#js code:nth-child(141):before, #scss code:nth-child(141):before {
  content: "141";
}
#js code:nth-child(142):before, #scss code:nth-child(142):before {
  content: "142";
}
#js code:nth-child(143):before, #scss code:nth-child(143):before {
  content: "143";
}
#js code:nth-child(144):before, #scss code:nth-child(144):before {
  content: "144";
}
#js code:nth-child(145):before, #scss code:nth-child(145):before {
  content: "145";
}
#js code:nth-child(146):before, #scss code:nth-child(146):before {
  content: "146";
}
#js code:nth-child(147):before, #scss code:nth-child(147):before {
  content: "147";
}
#js code:nth-child(148):before, #scss code:nth-child(148):before {
  content: "148";
}
#js code:nth-child(149):before, #scss code:nth-child(149):before {
  content: "149";
}
#js code:nth-child(150):before, #scss code:nth-child(150):before {
  content: "150";
}
#js code:nth-child(151):before, #scss code:nth-child(151):before {
  content: "151";
}
#js code:nth-child(152):before, #scss code:nth-child(152):before {
  content: "152";
}
#js code:nth-child(153):before, #scss code:nth-child(153):before {
  content: "153";
}
#js code:nth-child(154):before, #scss code:nth-child(154):before {
  content: "154";
}
#js code:nth-child(155):before, #scss code:nth-child(155):before {
  content: "155";
}
#js code:nth-child(156):before, #scss code:nth-child(156):before {
  content: "156";
}
#js code:nth-child(157):before, #scss code:nth-child(157):before {
  content: "157";
}
#js code:nth-child(158):before, #scss code:nth-child(158):before {
  content: "158";
}
#js code:nth-child(159):before, #scss code:nth-child(159):before {
  content: "159";
}
#js code:nth-child(160):before, #scss code:nth-child(160):before {
  content: "160";
}
#js code:nth-child(161):before, #scss code:nth-child(161):before {
  content: "161";
}
#js code:nth-child(162):before, #scss code:nth-child(162):before {
  content: "162";
}
#js code:nth-child(163):before, #scss code:nth-child(163):before {
  content: "163";
}
#js code:nth-child(164):before, #scss code:nth-child(164):before {
  content: "164";
}
#js code:nth-child(165):before, #scss code:nth-child(165):before {
  content: "165";
}
#js code:nth-child(166):before, #scss code:nth-child(166):before {
  content: "166";
}
#js code:nth-child(167):before, #scss code:nth-child(167):before {
  content: "167";
}
#js code:nth-child(168):before, #scss code:nth-child(168):before {
  content: "168";
}
#js code:nth-child(169):before, #scss code:nth-child(169):before {
  content: "169";
}
#js code:nth-child(170):before, #scss code:nth-child(170):before {
  content: "170";
}
#js code:nth-child(171):before, #scss code:nth-child(171):before {
  content: "171";
}
#js code:nth-child(172):before, #scss code:nth-child(172):before {
  content: "172";
}
#js code:nth-child(173):before, #scss code:nth-child(173):before {
  content: "173";
}
#js code:nth-child(174):before, #scss code:nth-child(174):before {
  content: "174";
}
#js code:nth-child(175):before, #scss code:nth-child(175):before {
  content: "175";
}
#js code:nth-child(176):before, #scss code:nth-child(176):before {
  content: "176";
}
#js code:nth-child(177):before, #scss code:nth-child(177):before {
  content: "177";
}
#js code:nth-child(178):before, #scss code:nth-child(178):before {
  content: "178";
}
#js code:nth-child(179):before, #scss code:nth-child(179):before {
  content: "179";
}
#js code:nth-child(180):before, #scss code:nth-child(180):before {
  content: "180";
}
#js code:nth-child(181):before, #scss code:nth-child(181):before {
  content: "181";
}
#js code:nth-child(182):before, #scss code:nth-child(182):before {
  content: "182";
}
#js code:nth-child(183):before, #scss code:nth-child(183):before {
  content: "183";
}
#js code:nth-child(184):before, #scss code:nth-child(184):before {
  content: "184";
}
#js code:nth-child(185):before, #scss code:nth-child(185):before {
  content: "185";
}
#js code:nth-child(186):before, #scss code:nth-child(186):before {
  content: "186";
}
#js code:nth-child(187):before, #scss code:nth-child(187):before {
  content: "187";
}
#js code:nth-child(188):before, #scss code:nth-child(188):before {
  content: "188";
}
#js code:nth-child(189):before, #scss code:nth-child(189):before {
  content: "189";
}
#js code:nth-child(190):before, #scss code:nth-child(190):before {
  content: "190";
}
#js code:nth-child(191):before, #scss code:nth-child(191):before {
  content: "191";
}
#js code:nth-child(192):before, #scss code:nth-child(192):before {
  content: "192";
}
#js code:nth-child(193):before, #scss code:nth-child(193):before {
  content: "193";
}
#js code:nth-child(194):before, #scss code:nth-child(194):before {
  content: "194";
}
#js code:nth-child(195):before, #scss code:nth-child(195):before {
  content: "195";
}
#js code:nth-child(196):before, #scss code:nth-child(196):before {
  content: "196";
}
#js code:nth-child(197):before, #scss code:nth-child(197):before {
  content: "197";
}
#js code:nth-child(198):before, #scss code:nth-child(198):before {
  content: "198";
}
#js code:nth-child(199):before, #scss code:nth-child(199):before {
  content: "199";
}
#js code:nth-child(200):before, #scss code:nth-child(200):before {
  content: "200";
}
#js code:before, #scss code:before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 40px;
  text-align: right;
  padding-right: 6px;
  font-size: 12px;
  color: #929294;
  background-color: #303034;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
}
#js .a, #scss .a {
  color: #7f8c99;
}
#js .b, #scss .b {
  color: #76d1ff;
}
#js .c, #scss .c {
  color: #b3fdaa;
}
#js .d, #scss .d {
  color: #ec3b5c;
}
#js .e, #scss .e {
  color: white;
}
#js .f, #scss .f {
  color: #f8a41c;
}
#js .g, #scss .g {
  color: #bb81ff;
}
#js .h, #scss .h {
  color: #fbe98c;
}